<!DOCTYPE html>
<html ng-app="ttttcollege" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The Definitive list of everything you need to take to College, all in one easy-to-use place.">
  <title>Things To Take To College</title>

  <!--Open Graph Card Info-->
  <meta property="og:title" content="Things To Take To College" />
  <meta property="og:description"
  content="The Definitive list of everything you need to take to College, all in one easy-to-use place." />
  <meta property="og:locale" content="en_GB" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://thingstotaketocollege.com/assets/images/list.png" />
  <meta property="og:url" content="http://thingstotaketocollege.com/" />
  <meta property="fb:app_id" content="152389134968181" />
  <!--Twitter Card Info-->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@NoodleSavings">
  <meta name="twitter:site:id" content="NoodleSavings">

  <!--Favicons and App Stuff-->
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-touch-icon-152x152.png">
  <meta name="apple-mobile-web-app-title" content="Things To Take To College">
  <link rel="icon" type="image/png" href="assets/images/favicons/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="assets/images/favicons/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="assets/images/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="assets/images/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="assets/images/favicons/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#669933">
  <meta name="msapplication-TileImage" content="assets/images/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="assets/images/favicons/browserconfig.xml">
  <meta name="application-name" content="Things To Take To College">

  <!-- Bootstrap -->
  <link href="assets/css/style-0.1.0.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
              <span class="glyphicon glyphicon-ok"></span>
              Things To Take To <strong>College</strong>
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="index.html">Home</a></li>
              <li ><a href="about.html">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-share">
                <div class="fb-share fb-like" data-href="http://thingstotaketocollege.com/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                <div class="tw-share"><a href="https://twitter.com/share" class="twitter-share-button" data-via="NoodleStudents" data-hashtags="TTTTCollege,Uni">Tweet</a></div>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div ng-controller="ItemsController" class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <h1 class="text-center">{{currentCat}}</h1>

            <ul class="categories">
              <li ng-click="filterAll()">
                All
              </li>
              &nbsp;
              <li ng-click="filterEssential()">
                Essentials
              </li>
              &nbsp;
              <span  ng-repeat="cat in categories">
                <li ng-click="filterByCategory(cat)">
                  {{ cat }}
                </li>
              </span>
              &nbsp;
              <li ng-click="filterDone()">
                Completed
              </li>
            </ul>
          </div>
        </div>

        <div class="row" id="list">
          <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <ul class="list-group">
              <label class="list-group-item category-{{isCategory}}" ng-repeat="item in items">
                <li class="list-item-{{item.done}}">
                  <input type="checkbox" ng-model="item.done" ng-change="update()"> {{item.title}}
                  <small class="small-category">{{item.category}}</small>

                  <span ng-if="item.essential" class="glyphicon glyphicon-star"></span>
                </li>
              </label>
            </ul>

            <div ng-if="items.length === 0">
              <div class="panel panel-default">
                <div class="panel-body row text-center">
                  <span class="glyphicon glyphicon-unchecked font-100"></span>
                    <h2>There is nothing here.</h2>
                    <h4>You've ticked nothing off! Try to start ticking off your list</h4>
                </div>
              </div>
            </div>

<!--              <div ng-if="doneItems !== []">
                <h2>Completed</h2>
                <ul class="list-group">
                  <span ng-repeat="item in doneItems">
                    <label class="list-group-item category-{{isCategory}}">
                      <li class="list-item-{{item.done}}">
                        <input type="checkbox" ng-model="item.done"> {{item.title}}
                        <small class="small-category">{{item.category}}</small>

                        <span ng-if="item.essential" class="glyphicon glyphicon-star"></span>
                      </li>
                    </label>
                  </span>
                </ul>-->
              </div>
            </div>
          </div>

          <div class="row footer">
            <div class="col-xs-12 text-center">
              &copy; 2014 Things To Take To College - <a href="mailto:advertise@thingstotaketocollege.com" title="Advertise on Things To Take To College">Advertise</a> - Created by the lovely folks at <a href="https://twitter.com/NoodleStudents" title="Noodle on Twitter">Noodle</a>
            </div>
          </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
        <!--<script src="assets/javascripts/angular.js"></script>-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="assets/javascripts/bootstrap.min.js"></script>
        <script src="assets/javascripts/angular-stuff.js"></script>

        <!--Facebook SDK-->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=152389134968181&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <!--Twitter Tweet Button-->
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <!--Anayltics Code-->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-53912150-1', 'auto');
          ga('send', 'pageview');

        </script>
      </body>
      </html>